<a href="https://colab.research.google.com/github/mboya2020/Mtoto-News-Childline-Kenya-call-volume-forecast-model.ipynb/blob/main/Forecast_Model_with_Deep_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 3.Loading the Data

### 3.1 Loading the libraries

Connecting to Google drive and Importing all the necessary Libraries | Modules.

In [19]:
# connecting collab to google drive

from google.colab import drive
drive.mount('/drive')

Mounted at /drive

In [55]:
# loading libraries

from pandas import DataFrame, read_csv,read_excel
import pandas as pd
import numpy as np
import os, shutil


# visualization libraries
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

### 3.2 Loading the data

Load the data using os.listdir method

In [34]:
# print the contents of the mtoto news childline kenya folder 

print(os.listdir('/drive/Shareddrives/Eagles/mtoto_news_childline_kenya'))

['WeatherNairobi2016.xls', 'NairobiSchoolDates2016.csv', 'Sample_Submission.csv', 'KenyaPublicHolidays2016.csv', 'train.csv']

In [35]:
 #store the file paths as variables

weather_file = ('/drive/Shareddrives/Eagles/mtoto_news_childline_kenya/WeatherNairobi2016.xls')
dates_file = ('/drive/Shareddrives/Eagles/mtoto_news_childline_kenya/NairobiSchoolDates2016.csv')
submission_file = ('/drive/Shareddrives/Eagles/mtoto_news_childline_kenya/Sample_Submission.csv')
holidays_file = ('/drive/Shareddrives/Eagles/mtoto_news_childline_kenya/KenyaPublicHolidays2016.csv')
train_file = ('/drive/Shareddrives/Eagles/mtoto_news_childline_kenya/train.csv')

View contents of the files

In [36]:
#print the data in the train file 

train = pd.read_csv(train_file)
train.head(3)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (12,13,14,18) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,calldate,cc_status,maincat,subcat1,casepriority,referal,caller_gender,caller_age,caller_county,child_age,child_gender,child_county,parent_age,parent_gender,parent_county,Abuser_Relationship,Neglector_Relationship,Perpetrator_Relationship,Physical abuser_Relationship
0,2016-01-01 07:26:47,Closed,non-interventional,Blank call,Non Critical,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-01-01 07:32:30,Closed,non-interventional,Blank call,Non Critical,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-01-01 07:44:31,Closed,non-interventional,Blank call,Non Critical,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
#print the data in the dates file 

train = pd.read_csv(dates_file)
train.head(3)

,Term,Opening,Closing,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,1,2016-01-04,2016-04-08,NaN,NaN,*year/month/day
1,2,2016-05-02,2016-08-05,NaN,NaN,https://www.standardmedia.co.ke/article/200018...
2,3,2016-09-05,2016-11-18,NaN,NaN,NaN

In [38]:
#print the data in the submission file 

train = pd.read_csv(submission_file)
train.head(3)

   time_index  calls
0  2016071300   28.0
1  2016071301   98.0
2  2016071302    NaN

In [39]:
#print the data in the holidays file 

train = pd.read_csv(holidays_file)
train.head()

,Public holidays Kenya 2017,https://www.officeholidays.com/countries/kenya/2016.php,Unnamed: 2
0,NaN,NaN,NaN
1,Date,Holiday,NaN
2,2016/01/01,New Years Day,NaN
3,2016/03/25,Good Friday,NaN
4,2016/03/28,Easter Monday,NaN

In [49]:
pip install xlrd>=1.2.0

In [57]:
#print the data in the weather file 

#weather = pd.read_excel(weather_file)

# Read the values of the file in the dataframe
#weather_data = pd.DataFrame(weather,columns= ['Local time in Nairobi (airport)', 'T',	'Po',	'P',	'Pa',	'U',	'DD',	'Ff',	'ff10',	'ff3',	'N',	'WW',	'W1',	'W2',	'Tn',	'Tx',	'Cl',	'Nh',	'H',	'Cm',	'Ch',	'VV',	'Td',	'RRR',	'tR',	'E',	'Tg',	'E',	'sss'])
# Print the content
#print("The content of the file is:\n", weather_data)

In [51]:
pip install xlrd>=1.2.0